## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("c:/users/Andrew/world_weather_analysis/Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,0,Atuona,PF,79.74,scattered clouds,-9.8000,-139.0333,Villa Enata
1,10,Bien Hoa,VN,78.80,scattered clouds,10.9500,106.8167,OYO 991 Duy Anh Hotel
2,12,Basco,PH,75.74,broken clouds,20.4487,121.9702,Nathaniel's Lodge
3,20,Salalah,OM,77.00,clear sky,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH
4,22,Monrovia,LR,77.00,few clouds,6.3005,-10.7969,Sunset Inn

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>

</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(45.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"]=="Trairi"]
vacation_end = vacation_df.loc[vacation_df["City"]=="Trairi"]
vacation_stop1 = vacation_df.loc[vacation_df["City"]=="Maragogi"]
vacation_stop2 = vacation_df.loc[vacation_df["City"]=="Porto Belo"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"]=="Mozarlandia"]
vacation_start

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
95,610,Trairi,BR,77.86,broken clouds,-3.2778,-39.2689,janelas do mar

In [115]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
# start = vacation_start.to_numpy()

for index, row in vacation_start.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
start=(lat,lng)
end=(lat,lng)

for index, row in vacation_stop1.iterrows():
    lat1 = row["Lat"]
    lng1 = row["Lng"]
stop1=(lat1,lng1)

for index, row in vacation_stop2.iterrows():
    lat2 = row["Lat"]
    lng2 = row["Lng"]
stop2=(lat2,lng2)

for index, row in vacation_stop3.iterrows():
    lat3 = row["Lat"]
    lng3 = row["Lng"]
stop3=(lat3,lng3)

start,end,stop1,stop2,stop3

((-3.2778, -39.2689),
 (-3.2778, -39.2689),
 (-9.0122, -35.2225),
 (-27.1578, -48.5531),
 (-14.7447, -50.5706))

In [118]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig = gmaps.figure()
tour_of_Brazil = gmaps.directions_layer(start,end,waypoints=[stop1,stop2,stop3],travel_mode="DRIVING")
fig.add_layer(tour_of_Brazil)
fig

Figure(layout=FigureLayout(height='420px'))

In [119]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,610,Trairi,BR,77.86,broken clouds,-3.2778,-39.2689,janelas do mar
1,514,Maragogi,BR,78.87,clear sky,-9.0122,-35.2225,Salinas do Maragogi All Inclusive Resort
2,354,Porto Belo,BR,77.00,broken clouds,-27.1578,-48.5531,Costa Verde Beach Hotel
3,128,Mozarlandia,BR,75.15,broken clouds,-14.7447,-50.5706,Hotel Santa Mônica

In [120]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>

<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>

</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [121]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(45.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))